API_PORT=4000
MONGO_DATABASE=gpu_rental
MONGO_ROOT_USERNAME=gpu_app
MONGO_ROOT_PASSWORD=replace_with_a_local_password
MONGO_URI=mongodb://gpu_app:replace_with_a_local_password@localhost:27017/gpu_rental?authSource=admin
REDIS_PASSWORD=replace_with_a_local_password
REDIS_URL=redis://:replace_with_a_local_password@localhost:6379
SESSION_TTL_SECONDS=86400
WEB_ORIGIN=http://localhost:8080
COOKIE_SECURE=false
